<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Import-all-the-things" data-toc-modified-id="Import-all-the-things-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import all the things</a></span></li><li><span><a href="#Read-the-file-and-create-df" data-toc-modified-id="Read-the-file-and-create-df-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Read the file and create df</a></span></li><li><span><a href="#Rename-columns" data-toc-modified-id="Rename-columns-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Rename columns</a></span></li><li><span><a href="#Basic-EDA" data-toc-modified-id="Basic-EDA-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Basic EDA</a></span></li><li><span><a href="#Add-column-of-0-for-books" data-toc-modified-id="Add-column-of-0-for-books-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Add column of 0 for books</a></span></li><li><span><a href="#Save-to-csv-file-for-EDA" data-toc-modified-id="Save-to-csv-file-for-EDA-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Save to csv file for EDA</a></span></li></ul></div>

**Explanation of Process**

I found a dataset (https://www.kaggle.com/meetnaren/goodreads-best-books) that included title, author, description, and genre. I needed the genre so I could get the romance books separately. 

I first read the file and created the df. I tried to pull out just the romance books, but there were null values.I only planned to keep a few and didn't want to drop rows unnecesarily, so I dropped rows where only the genre was null. Then I filtered out the paranormal books. Once I had only PNR romance books, I pulled out the three columns I was interested in then renamed and reorganized them. Finally, I reset the index and added a column of all zeroes to indicate these are books and saved the file to csv. I'll do more cleaning in book_sountrack.ipnyb

# Import all the things

In [1]:
import pandas as pd

In [2]:
import sys
sys.path.insert(0, r"..\functions")

from myEDA import *

In [3]:
#This will make all the rows print in the df without skipping any
#pd.set_option('display.max_rows', None)

# Read the file and create df

In [16]:
#Download the 2 GB file from the link above, unzip, and put in the datasets folder

#uncomment line below after csv is in datasets folder

#df = pd.read_csv(r"..\datasets\book_data.csv")
df.shape

(4644, 4)

In [5]:
# drop all rows that have blanks in the subset columns

df = df.dropna(axis=0, subset=['genres', 'book_authors', 'book_desc', 'book_title'])
df.shape

(50177, 12)

In [6]:
# keep only books in the Paranormal Romance genre

df = df[df['genres'].str.contains("Paranormal")]
df.shape

(5206, 12)

In [7]:
#keep only 3 columns

df = df[['book_authors', 'book_title', 'book_desc']]
df.shape

(5206, 3)

# Rename columns

In [8]:
#rename columns to make them easier to deal with 

df = df.rename(columns={"book_authors": "author", "book_desc": "desc", "book_title": "title"})
df.head(0)

Empty DataFrame
Columns: [author, title, desc]
Index: []

In [9]:
# There are several non-English titles, but those will be dropped in book_soundtrack.ipnyb

df = df.sort_values(by ='title').reset_index(drop = True)
df.head()

,author,title,desc
0,Stephen King,'Salem's Lot,Thousands of miles away from the small townshi...
1,Stephen King|Jerry N. Uelsmann,'Salem's Lot,"Upon its initial publication in 1975, 'Salem’s..."
2,Stephen King,'Salem's Lot,Thousands of miles away from the small townshi...
3,Stephen King,'Salem's Lot,'Salem's Lot is a small New England town with ...
4,Oliviu Craznic,....Și la sfârșit a mai rămas coșmarul (...And...,"In the Castle of the Last Towers, the things a..."

In [10]:
#Several books have multiple entries, so drop duplicate titles
#I will revisit this later since I know there are some books by different authors with the same title

df = df.drop_duplicates(subset = ['title'])
df.shape

(4644, 3)

# Basic EDA

In [11]:
#get an overview of nulls and any problems with data types

get_info_dataset(df)

Basic information from your dataset
 ---------------------------------------------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4644 entries, 0 to 5205
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   author  4644 non-null   object
 1   title   4644 non-null   object
 2   desc    4644 non-null   object
dtypes: object(3)
memory usage: 145.1+ KB

Numerical variables are:
 Index([], dtype='object')
-------------------------------------------------
Categorical variables are:
 Index(['author', 'title', 'desc'], dtype='object')
-------------------------------------------------

(Index([], dtype='object'), Index(['author', 'title', 'desc'], dtype='object'))

# Add column of 0 for books

In [12]:
# Add a column of 0 for books
df['format'] = 0
df.head(2)

,author,title,desc,format
0,Stephen King,'Salem's Lot,Thousands of miles away from the small townshi...,0
4,Oliviu Craznic,....Și la sfârșit a mai rămas coșmarul (...And...,"In the Castle of the Last Towers, the things a...",0

# Save to csv file for EDA

In [13]:
df.to_csv(r"..\datasets\books_raw.csv")