<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Import-all-the-things" data-toc-modified-id="Import-all-the-things-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import all the things</a></span></li><li><span><a href="#Get-found-and-scraped-lyrics-files" data-toc-modified-id="Get-found-and-scraped-lyrics-files-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Get found and scraped lyrics files</a></span></li><li><span><a href="#Combine-the-two-dataframes" data-toc-modified-id="Combine-the-two-dataframes-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Combine the two dataframes</a></span></li><li><span><a href="#Basic-EDA" data-toc-modified-id="Basic-EDA-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Basic EDA</a></span><ul class="toc-item"><li><span><a href="#Are-there-any-nulls?" data-toc-modified-id="Are-there-any-nulls?-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Are there any nulls?</a></span></li></ul></li><li><span><a href="#Add-a-column-of-1s-for-music" data-toc-modified-id="Add-a-column-of-1s-for-music-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Add a column of 1s for music</a></span></li><li><span><a href="#Export-lyrics-file-to-csv" data-toc-modified-id="Export-lyrics-file-to-csv-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Export lyrics file to csv</a></span></li></ul></div>

**Explanation of Process**<br>
This file combines the two csv files of scraped and found lyrics in preparation of combining them with the books for our final dataframe.

# Import all the things

In [1]:
import pandas as pd
import numpy as np

#for text pre-processing
import re, string

# Get found and scraped lyrics files

In [3]:
#found lyrics
#already has index, so use first column

flyrics = pd.read_csv(r"..\..\datasets\hair_lyrics.csv", index_col = 0, na_values = "")
#flyrics.head()
flyrics.shape

(1843, 3)

In [4]:
#scraped lyrics
#already has index, so use first column

slyrics = pd.read_csv(r"..\..\datasets\more_hair_lyrics.csv", index_col = 0, na_values = "")
slyrics.head()
slyrics.shape

(1288, 3)

# Combine the two dataframes

In [5]:
df = pd.concat([flyrics, slyrics]).reset_index(drop = True)
df.tail()

,artist,title,words
3126,Winger,Under One Condition,She's looking in the eye of a\nMind made up th...
3127,Winger,Who's The One,--------------------\nWhen all the colors begi...
3128,Winger,Without the Night,Watch the sun go down\nIt's just my luck again...
3129,Winger,Witness,There's a shadow in your heart\nKeeps you in t...
3130,Winger,"You Are The Saint, I Am The Sinner","You Are The Saint, I Am The Sinner (3: 35) (Wi..."

# Basic EDA

## Are there any nulls?

In [6]:
df.isnull().sum()

artist    0
title     0
words     0
dtype: int64

In [13]:
#There are songs that are Demos here, so drop those
df = df[~df['title'].str.contains('\(Demo\)','', regex=True)]

#The lyrics all have \n in them, so replace that with a space
df['words'] = df['words'].str.replace('\\n',' ', regex=True)
df['words'] = df['words'].str.replace('\\r','', regex=True)

In [8]:
df.duplicated().value_counts()

False    3131
dtype: int64

In [9]:
df.drop_duplicates(keep = 'first', inplace = True)
df.shape

(3131, 3)

In [10]:
df = df.reset_index(drop = True)
df

,artist,title,words
0,Cinderella,All Comes Down,Everybody thinks it's so easy Everybody thinks...
1,Cinderella,Back Home Again,I hit the road wide open at seventeen Mama cri...
2,Cinderella,Bad Attitude Shuffle,When I get up in the morning Got a world of tr...
3,Cinderella,Blood from a Stone,Well I've been walkin' Down a one way dirty st...
4,Cinderella,Coming Home,I took a walk down a road it's the road I was ...
...,...,...,...
3126,Winger,Under One Condition,She's looking in the eye of a Mind made up tha...
3127,Winger,Who's The One,-------------------- When all the colors begin...
3128,Winger,Without the Night,Watch the sun go down It's just my luck again ...
3129,Winger,Witness,There's a shadow in your heart Keeps you in th...
3130,Winger,"You Are The Saint, I Am The Sinner","You Are The Saint, I Am The Sinner (3: 35) (Wi..."

# Add a column of 1s for music

In [11]:
df['format'] = 1
df.tail(2)

,artist,title,words,format
3129,Winger,Witness,There's a shadow in your heart Keeps you in th...,1
3130,Winger,"You Are The Saint, I Am The Sinner","You Are The Saint, I Am The Sinner (3: 35) (Wi...",1

# Export lyrics file to csv

In [12]:
df.to_csv(r"..\..\datasets\lyrics_raw.csv")